{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
    
{% block content %}
<body>
    <h1>WELCOME TO MY PERSONAL BLOG POST WEBSITE</h1><br>
    <p>Click on button to add a post<a href="{{url_for('main.create_blogs')}}"><button>Add Post</button></a></p>
   
    {%for pitch in all_pitches %}</li>
    <p>{{pitch.description}}</p>
    <div class="comment">
    <a href="/comment/new/{{blogs.id}}"><button>Comments</button></a>
    </div>
</body>
    {%endfor%}
    {% endblock %}