{% macro displayBlogs(blogs) %}
{% for blog in blogs %}
  {% if blog.user.profile_pic-path %}
  <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 blog-card">
        <img src="{{ blog.poster }}" alt="{{ blog.title }} poster" class="img-responsive">
    <p>{{blog.user.username}}</p>

    <a href="/blog/{{blog.id}}">{{blogs.content}}</a>
    <button>Upvote</button>
    <button>DownVote</button>
    {%else%}
    <img src="static/photos/no_dp.png" alt="">
    <button>UpVote</button>
    <button>DownVote</button>
    <a href="/new/comment/{{blog.id}}">Leave Comment</a>
    {%endif%}

    {%endfor%}
    {%endmacro%}
   